
/* 
  Main elements 
*/
html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
  background: #fff;
}
body, input, textarea, select {
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 130%;
}

h1 { font-size: 200%; line-height:140%; font-weight: bold; margin: 0; }
h2 { font-size: 190%; line-height:140%; font-weight: bold; margin: 0; color:#5B889D; }
h3 { font-size: 140%; line-height:140%; font-weight: normal; margin: 0; }
h4,h5,h6 { font-size: 115%; line-height:140%; font-weight: bold; margin: 0; }
p { margin: 0 0 6px 0; }
a { color:#BA5134; cursor:pointer; text-decoration: none; outline: none; }
a:hover { color: #5B889D; text-decoration: none; outline: none; }
img { border: 0; outline: none; }
ul {
  margin:0;
  padding:0;
  list-style: none;
}
input, textarea {
  font:inherit;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*
  General classes
 */
.row:after,
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.col, .floatleft {
  float: left;
}
.floatright {
  float: right;
}
.textright {
  text-align: right;
}

.button {
  display: inline-block;
  text-align:center;
  background:#BA5134;
  border-radius: 8px;
  color:#fff;
  padding:10px 20px;
  font-size: 22px;
}
.button.small {
  font-size: 60%;
  padding: 1px 8px;
  border-radius: 4px;
}
.button.blue {
  background: #5B889D;
}
.button.active,
.button:hover {
  color:#fff;
  opacity: 0.7;
}
.button.inactive {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  cursor: default;
}


.topbar {
  background: #BA5134;
  color:#fff;
}
.topbar .img {
  width: 20%;
}
.topbar .img img {
  display: block;
  height: 135px;
}
.topbar .header {
  width: 59%;
  text-align: center;
  padding:20px 0;
}
.topbar .fb {
  margin-top:10px;
  margin-right:10px;
  width: 20%;
  text-align: center;
  max-width:150px;
}
.topbar .fb a {
  display: inline-block;
  background: url(../gfx/facebook.png) center top no-repeat;
  background-size: 50px auto;
  padding-top:60px;
  color:#fff;
}
.topbar .fb a:hover {
  opacity:0.7;
}

.tabs {
  text-align: center;
}
.tab {
  display: inline-block;
  margin:0 3px;
}
.tab a {
  display: block;
  background: #BA5134;
  padding: 10px 20px;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0.7;
}
.tab a:hover {
  opacity: 1;
}

.main {
  margin-top: 10px;
  padding: 0 3%;
}
.content {
  max-width: 1200px;
  margin:0 auto;
  margin-bottom: 40px;
}
.intro {
  text-align: center;
}

.description {
  max-width: 80%;
  margin: 0 auto 40px auto;
  text-align: center;
}
.description h2 {
  margin: 40px 0 20px 0;
}
.description p {
  font-size: 120%;
  line-height: 140%;
  margin: 16px 0 0 0;
}
.description p.fet {
  font-weight: bold;
}

@media(max-width: 600px) {
  .topbar .img {
    float:none;
    text-align: center;
    width: 100%;
  }
  .topbar .img img {
    display: inline-block;
  }
  .topbar .header {
    float:none;
    width: 100%;
    padding:10px 0;
  }
  .topbar .fb {
    position:absolute;
    top:0;
    right:10px;
  }
  .topbar .fb a {
    width:80px;
    height:80px;
  }

  .leftinfo {
    float:none;
    width: 100%;
  }
  .image {
    width:100%;
    float: none;
    text-align: center;
  }
}