
/* 
  Main elements 
*/
html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
  background: #fff;
}
body, input, textarea, select {
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 130%;
}

h1 { font-size: 200%; line-height:140%; font-weight: bold; margin: 0; }
h2 { font-size: 190%; line-height:140%; font-weight: bold; margin: 0; color:#5B889D; }
h3 { font-size: 140%; line-height:140%; font-weight: normal; margin: 0; }
h4,h5,h6 { font-size: 115%; line-height:140%; font-weight: bold; margin: 0; }


#tutorial .content h2,
#tinymce h2 {
  color:#333;
  font-size: 160%;
  margin-bottom: 5px;
}
#tutorial .content h3,
#tinymce h3 {
  color:#666;
  margin-bottom: 5px;
}
#tutorial .content h4,
#tinymce h4 {
  color:#666;
}

p { margin: 0 0 6px 0; }
a { color:#000; cursor:pointer; text-decoration: none; outline: none; }
a:hover { text-decoration: none; outline: none; }
img { border: 0; outline: none; }
ul {
  margin:0;
  padding:0;
  list-style: none;
}
input, textarea {
  font:inherit;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*
  General classes
 */
.row:after,
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.col, .floatleft {
  float: left;
}
.floatright {
  float: right;
}
.textright {
  text-align: right;
}

/*
  Button that is skinned for kliniker and initalized in master.js
 */
.button {
  display: inline-block;
  text-align:center;
  background:#BA5134;
  color:#fff;
  padding:10px 20px;
}
.button.blue {
  background: #5B889D;
}
.button.active,
.button:hover {
  color:#eee;
}
.button.inactive {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  cursor: default;
}



.topbar {
  background: #BA5134;
  color:#fff;
  margin-bottom: 40px;
}
.topbar .img {
  width: 20%;
}
.topbar .img img {
  display: block;
  height: 135px;
}
.topbar .header {
  width: 60%;
  text-align: center;
  padding:20px 0;
}
.topbar .fb {
  width: 20%;
  text-align: right;
}
.topbar .fb a {
  display: inline-block;
  background: url(../gfx/facebook.png) center center no-repeat;
  background-size: auto 50%;
  height: 100px;
  width: 100px;
}
.content {
  max-width: 1200px;
  margin:0 auto;
}
.opener {
  display: block;
  background: #5B889D url(../gfx/open-right.svg) right 10px center no-repeat;
  color: #fff;
  padding:10px;
  border:solid 1px #fff;
  text-align: center;
}
.opener.open {
  background-image: url(../gfx/open-down.svg);
}
.gamecontent {
  display: none;
  border: solid 1px #5B889D;
}
.answer {
  display: none;
}

.intro {
  padding:20px;
}
.onequestion {
  padding:20px;
  background: #f5f5f5;
  margin-bottom:20px;
}
.question {
  font-weight: bold;
}
.leftinfo {
  float:left;
  width: 70%;
  padding-right:40px;
}
.image {
  width:30%;
  float: right;
  text-align: right;
}
.description {
  margin:10px 0;
  font-size: 120%;
}
.info {
  font-style: italic;
}
.answerlink {
  color: #BA5134;
}

@media(max-width: 600px) {
  .topbar .img {
    float:none;
    text-align: center;
    width: 100%;
  }
  .topbar .img img {
    display: inline-block;
  }
  .topbar .header {
    float:none;
    width: 100%;
    padding:10px 0;
  }
  .topbar .fb {
    position:absolute;
    top:0;
    right:10px;
  }
  .topbar .fb a {
    width:80px;
    height:80px;
  }
}