* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:first-child {
  margin-top: 0;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.tab a.orden {
  opacity: 1;
}

.submain {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}
.intro {
  margin-top: 40px;
}
.selpuzzle {
  text-align: center;
  margin: 40px 0;
}
.openselect {
  background: #BA5134;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
}
.openselect:hover {
  color: #fff;
  opacity: 0.7;
}
.openselect.selected {
  opacity: 0.7;
}
.openselect.selected:hover {
  opacity: 1;
}
.select {
  display: none;
}
.select .yearsel {
  float: left;
  margin: 20px 10px 0 10px;
}
.select .yearsel .year {
  font-weight: bold;
}
.select .yearsel a {
  cursor: pointer;
  display: block; 
}
.select .yearsel a.solved {
  opacity: 0.5;
}
.select .yearsel a.solved:hover {
  opacity: 1;
}
.select .yearsel a.solved::after {
  content: " (Löst)";
}
.week {
  text-align: center;
  margin-bottom: 20px;
}

.leads {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 29%;
}
.leads ol {
  margin-right: 20px;
}
.puzzlearea {
  position: relative;
  display: inline-block;
  top: 0;
  width: 70%;
}
.successarea {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  background: #fff;
  border: solid 3px #BA5134;
  padding: 20px;
}
.successarea .close {
  position: absolute;
  top: 0;
  right: 3px;
}
.puzzlearea.success .title, .puzzlearea.success .puzzle {
  opacity: 0.3;
}
.puzzlearea.success .successarea {
  display: block;
}

@media(max-width: 600px) {
  .leads {
    display: block;
    width:100%;
  }
  .puzzle {
    display: block;
    width:100%;
  }
}

.title {
  position: absolute;
  text-align: center;
  line-height: 100%;
  font-size: 12px;
  z-index: 0;
}
.title1 {
  color: #5B889D;
}
.title2 {
  color: #BA5134;
}
.wordbox {
  position: absolute;
}
.wordbox .number {
  text-align: center;
}
.wordbox .letter {
  border: solid 1px #666;
  overflow: hidden;
}
.wordbox .letter input {
  display: block;
  position: absolute;
  opacity: 0;
}
.wordbox.selected .letter {
  background: #ddd;
}
.cheat {
  margin-top: 30px;
  margin-left: 30px;
}
.cheat a {
  font-size: 60%;
  padding: 1px 8px;
}
.forget {
  text-align: center;
  margin-top: 20px;
}
.forget a {
  font-size: 60%;
  padding: 1px 8px;
}
