{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="css/start.css" />
{% endblock %}

{% block content %}

  <div class='submain'>
    <h2>Välkommen till Bertils klurigheter</h2>
    <div class='description'>
      <p>Under 70-talet var Bertil Ljungberg en flitig lösare av korsord och andra tävlingar i Sydsveska Dagbladet. Han var så flitig och vann så många av dem att Sydsvenskan frågade om han ville konstruera korsord och tävlingar till tidningen.</p>
      <p>Detta resulterade i ett mångårigt samarbete där Bertil mellan åren 19XX och 20XX konstruerade XXX söndagskorsord, 10 sommartävlingar och XXX "Orden runt på åtta svar" till Sydsvenskan.</p>
      <p>På denna sidan har vi samlat hans <a href='/klurigheter'>sommartävlingar</a> samt ett axplock av hans många <a href='/ordenrunt'>"Orden runt"</a>. Prova gärna att lösa dem och njut av Bertils klurigheter. Kör du fast så kan du fuska. :-)</p>
    </div>
  </div>
  
{% endblock %}
