{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="css/start.css" />
{% endblock %}

{% block description %}
  <h2>Bertil Ljungberg – en klurig ordkonstnär</h2>
  <p>Under 30 års tid, mellan 1981 och 2011, skapade Bertil Ljungberg mängder av sommartävlingar, söndagskorsord och ”Orden runt på åtta svar” till Sydsvenskan. Många tidningsläsare gladdes under dessa år åt Bertils utmanande klurigheter. Nu finns hans tävlingar och ordgåtor att lösa här i digitalt format.</p>
  <p>Det hela började med att Bertil 1980 deltog i en tävling i julklappsrim i Sydsvenskan. Bertil gick vidare till final tack vare en rad fyndiga julrim, bland annat ”Nu min lilla drömtös, slipper du ligga sömlös” (nattlinne). Han tog med sig sin hustru Ingrid till finalen, en frågesport på Sydsvenskans redaktion i Malmö. Tillsammans vann de första pris som var en weekendresa för 20 personer till ett slott i Tyskland. De bjöd med släkt och vänner och med på resan var även Kurt Andersson och Lars Nilsson från Sydsvenskan. De såg Bertils talang och potential och frågade om han ville skapa en sommartävling i tidningen året därpå. Detta ledde till ett mångårigt samarbete mellan Bertil och Sydsvenskan som resulterade i 1268 söndagskorsord, 10 sommartävlingar och cirka 1400 "Orden runt på åtta svar".</p>
  <p>Det var många som älskade de här tävlingarna och det skapades mycket engagemang från läsarna under många år. Vi tyckte därför det vore roligt om fler fick ta del av Bertils samlade verk, så nu finns denna hemsida. Här har vi samlat hans <a href='/klurigheter'>sommartävlingar</a> samt ett axplock av hans många <a href='/ordenrunt'>"Orden runt på åtta svar"</a>. Prova gärna att lösa dem och njut av Bertils klurigheter. Kör du fast så kan du fuska. :-)</p>
  <p>Bertil är tyvärr inte med oss längre, han somnade stilla in den 29 mars 2022 vid 94 års ålder. Dela gärna minnen eller skicka en sista hälsning på hans minnessida på <a href="https://minnessidor.fonus.se/memorial_page/memorial_page_ads.php?order_id=4013770&set_site_id=2&cat=ads&sign=c63ff70b387b6926663c067a950d1d66" target="_blank">minnessidor.fonus.se</a>.</p>
{% endblock %}
