{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="css/start.css" />
{% endblock %}

{% block description %}

  <h2>Bertil Ljungberg – en ordkonstnär som glatt många tidningsläsare</h2>
  <p class='fet'>Finalsegern i en julklappsrimstävling i Sydsvenskan 1980 blev startskottet för ett 30 år långt livsverk av söndagskorsord, kluriga gåtor och fantasifulla sommartävlingar. Sydsvenskans läsare älskade ordkonstnären Bertil Ljungberg som ständigt kom med nya utmaningar. Nu finns hans tävlingar och ordgåtor att lösa här i digitalt format.</p>
  <p>När Sydsvenskan bjöd in till live-final i julklappsrimstävlingen på redaktionen i Malmö följde hustrun Ingrid med och de tävlade tillsammans. De vann en weekendresa för 20 personer till ett slott i Tyskland och bjöd med både släkt och vänner. Även Sydsvenskans medarbetare Kurt Andersson från Oss Emellan och Lars Nilsson från marknadsavdelningen följde med. Under resan fick de snabbt upp ögonen för Bertils talanger och föreslog att han skulle skapa en sommartävling i tidningen året därpå. Det blev startskottet för ett mångårigt samarbete mellan Bertil och Sydsvenskan där Bertil mellan åren 1981 och 2011 konstruerade 1268 söndagskorsord, 10 sommartävlingar och cirka 1400 "Orden runt på åtta svar".</p>
  <p>Det var många som älskade de här tävlingarna och det skapades mycket engagemang från läsarna under många år. Vi tyckte därför det vore roligt om fler fick ta del av Bertils samlade verk, så nu finns denna hemsida. Här har vi samlat hans <a href='/klurigheter'>sommartävlingar</a> samt ett axplock av hans många <a href='/ordenrunt'>"Orden runt på åtta svar"</a>. Prova gärna att lösa dem och njut av Bertils klurigheter. Kör du fast så kan du fuska. :-)</p>
  <p>Vill du skicka en hälsning till Bertil, så kontakta honom gärna via <a href='https://www.facebook.com/bertil.ljungberg.1' target='_blank'>facebook</a> genom att klicka på länken uppe till höger.</p>
  
{% endblock %}
